h4
	= response.numFound + (response.numFound != 1 ? ' persons' : ' person') + ' found'
	.order-by
		span Order by
		if response.sortableFields
			select
				if sortedBy
					option(disabled)
				else
					option(disabled, selected)
				each field in response.sortableFields
					if sortedBy == field
						option(value=field, selected)= sortableFieldsMap[field] ? sortableFieldsMap[field] : field
					else
						option(value=field)= sortableFieldsMap[field] ? sortableFieldsMap[field] : field
.cursor
	span.prev &laquo; Previous
	span.position
		| Page&nbsp;
		span.current= 1 + (response.start / config.get('resultRows'))
		| &nbsp;of&nbsp;
		span.total= Math.ceil(response.numFound / config.get('resultRows'))
	.loader
	span.next Next &raquo;

ol.persons
	- var personsById = _.object(_.map(response.results, function (p) { return [p._id, p] }));
	- each person in response.refs
		li(class=isCurated(person) ? 'is-curated' : '')
			a(href=config.personViewUrl(person.id))
				if person.displayName
					.name= person.displayName
				else
					.name
						span.empty-name No name provided
				.alive
					span.from= personsById[person.id] ? (personsById[person.id].birthDate || 'unknown') : 'unknown'
					| &nbsp;&ndash;&nbsp;
					span.to= personsById[person.id] ? (personsById[person.id].deathDate || 'unknown') : 'unknown'