.container
	if config.get('isProduction')
		.is-production-text Production
	else
		.is-test-text Test
	.header.centered
		a.home(href=config.get('baseUrl'))
			.header-logo.largest-text
				span.small-caps NEWW
				| Women Writers
		a.huygens-ing(href="http://www.huygens.knaw.nl/", target="_self")
	.navigation
		.centered
			.links
				a.person(href=config.get('baseUrl') + "/persons/") Persons
				a.document(href=config.get('baseUrl') + "/documents/") Documents
				a.reception(href=config.get('baseUrl') + "/receptions/") Receptions
				a.source(href=config.get('baseUrl') + "/sources/") Sources
				.user-status
	#search
		.persons.centered
		.documents.centered
		.receptions
	#view