h4
	= response.numFound + (response.numFound != 1 ? ' documents' : ' document') + ' found'
	.order-by
		span Order by
		if response.sortableFields
			select
				if sortedBy
					option(disabled)
				else
					option(disabled, selected)
				each field in response.sortableFields
					if sortedBy == field
						option(value=field, selected)= sortableFieldsMap[field] ? sortableFieldsMap[field] : field
					else
						option(value=field)= sortableFieldsMap[field] ? sortableFieldsMap[field] : field
.cursor
	span.prev &laquo; Previous
	span.position
		| Page&nbsp;
		span.current= 1 + (response.start / config.get('resultRows'))
		| &nbsp;of&nbsp;
		span.total= Math.ceil(response.numFound / config.get('resultRows'))
	.loader
	span.next Next &raquo;

ol(start=response.start + 1)
	- each document in response.refs
		li(class=showCurated(document) ? 'is-curated' : '')
			a(href=config.documentViewUrl(document.id))
				.title= document.data.title
				.secondary-information.smallest-text
					span.created-by= document.data.createdBy
					span.date= document.data.date ? document.data.date : 'unknown'
					span.language= document.data.language
					span.publish-location= document.data.publishLocation