.controls
	a.edit.btn.green(href=config.documentEditUrl(data._id)) Edit

h2= data.title

h4.author= data.tempCreator

.fieldsets

.c4_4
	h3 Receptions of this work
	if receptions
		ul.receptions
			each list, reception in receptions
				li
					h4= reception
					ul
						each r in list
							li: a(href=config.viewUrl(r.id))= r.displayName
	else
		p None


//- if versions
//- 	p.versions
//- 		| View other interpretations of this record:
//- 		each version in versions
//- 			a(href=version)= version

//- .revisions
//- 	h5 Revisions
//- 	ul
//- 		each r in revisions
//- 			li(data-revision=r)= r