h4= response.numFound + (response.numFound != 1 ? ' persons' : ' person') + ' found'
ul.persons
	- each person in response.results
		li
			a(href=config.personViewUrl(person._id))
				.name= person.tempName
				.alive
					span.from= person.birthDate ? person.birthDate : 'unknown'
					| &nbsp;&ndash;&nbsp;
					span.to= person.deathDate ? person.deathDate : 'unknown'