if response
	if response['_prev']
		p.prev(href=response['_prev']) « Previous
	if response['_next']
		p.next(href=response['_next']) Next »
	if response.refs
		table.results-table
			thead.results-head
				tr
					th Receptions on ...
					th Type
					th Receptions
			tbody.results-body
				each ref in response.refs
					tr
						td= ref.sourceName
						td= ref.relationName
						td= ref.targetName
	else
		p No results found